body {
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 300;
  font-family: "Montserrat", sans-serif !important;
  color: #505050 !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width: 576px) {
  body {
    font-size: 14px !important;
    width: 100% !important;
  }
}

nav {
  min-height: 6.25rem;
  font-weight: 500;
}

nav .navbar-brand img {
  height: 4.785rem !important;
}

nav ul li {
  height: 2rem;
}

nav ul li:hover {
  border-bottom: 2px solid #FFB800;
}

@media (max-width: 768px) {
  nav ul li {
    text-align: center;
  }
}

nav ul li a {
  padding: .5rem 1.1875rem !important;
}

header #carouselIndicators .carousel-inner .carousel-item img {
  height: 70vh !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

main h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

main #sobre {
  margin-top: 6.25rem;
}

main #sobre h2 {
  margin-bottom: 1rem;
}

main #sobre p {
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0;
}

main #sobre img {
  margin: 0 auto 1.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #sobre .row div:nth-child(1) img {
  margin-bottom: 0 !important;
  height: 90%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

@media (max-width: 768px) {
  main #sobre .row div:nth-child(1) img {
    height: 100%;
  }
}

@media (max-width: 576px) {
  main #sobre .row div:nth-child(1) img {
    width: 100%;
  }
}

main #sobre .row div:nth-child(2) p {
  margin: 1.5rem 0;
}

main #sobre .row div:nth-child(2) p:nth-child(1) {
  margin-top: 0 !important;
}

@media (max-width: 576px) {
  main #sobre .row div:nth-child(2) p:nth-child(1) {
    margin-top: 2rem !important;
  }
}

main #sobre .row div:nth-child(2) p:nth-child(4) {
  margin-bottom: 0 !important;
}

main .paralaxe-topo {
  height: 20rem;
  background-image: url("../assets/paralax-01.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main #restaurante {
  margin-top: 6.25rem;
}

main #restaurante h2 {
  margin-bottom: 1rem;
}

main #restaurante h6 {
  font-size: 1.125rem;
  font-weight: 400;
}

main #restaurante p {
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0;
}

main #restaurante img {
  margin: 0 auto 1.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #restaurante .row div:nth-child(2) img {
  margin-bottom: 0 !important;
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

@media (max-width: 768px) {
  main #restaurante .row div:nth-child(2) img {
    height: 100%;
  }
}

@media (max-width: 576px) {
  main #restaurante .row div:nth-child(2) img {
    width: 100%;
  }
}

main #restaurante #cardapio {
  margin: 0 !important;
  padding: 0 !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

@media (max-width: 576px) {
  main #restaurante #cardapio {
    display: block;
  }
}

main #restaurante #cardapio .destaque-cardapio {
  width: 60%;
}

@media (max-width: 768px) {
  main #restaurante #cardapio .destaque-cardapio {
    width: 50%;
  }
}

@media (max-width: 576px) {
  main #restaurante #cardapio .destaque-cardapio {
    margin: 0;
    width: 100%;
  }
}

main #restaurante #cardapio .destaque-cardapio img {
  margin: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 768px) {
  main #restaurante #cardapio .destaque-cardapio img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 576px) {
  main #restaurante #cardapio .destaque-cardapio img {
    display: none;
  }
}

main #restaurante #cardapio .texto-cardapio {
  width: 40%;
  padding: 4rem;
  background-color: #FFB800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1366px) {
  main #restaurante #cardapio .texto-cardapio {
    padding: 2.125rem;
  }
}

@media (max-width: 768px) {
  main #restaurante #cardapio .texto-cardapio {
    width: 50%;
  }
}

@media (max-width: 576px) {
  main #restaurante #cardapio .texto-cardapio {
    width: 100%;
  }
}

main #restaurante #cardapio .texto-cardapio .conteudo-texto {
  color: #fff;
}

main #restaurante #cardapio .texto-cardapio .conteudo-texto p {
  font-size: 1rem;
  font-weight: 300;
}

main #restaurante #cardapio .texto-cardapio .conteudo-texto h2 {
  font-size: 2.5rem !important;
  font-weight: 500 !important;
}

main #restaurante #cardapio .texto-cardapio .conteudo-texto h6 {
  font-size: 1.375rem !important;
  font-weight: 300;
}
